# Data types and structures

1. What are data structures, and why are they important?
   - Data structures are just different wats of storing and organizing data so we can use it properly. they are important because without them, handling large amounts of data would be messy and slow. For example, if you want to keep items in order, you use a list; if you want unique items, you use a set.
2. Explain the difference between mutable and immutable data types with examples.
   - Mutable means you can change it after creating it. For example, in a list [1,2,3], you can replace 1 with 10. Immutable means it stays fixed once created, like a string "hello"- you cant directly change a letter inside it.
3. What are the main differences between lists and tuples in python?
   - The big difference is that lists can be changed (mutable), while tuples cannot (immutable). Lists use [] abd tuples use(). Tuples are also a bit faster and used when data should stay fixed.
4. Describe how dictionaries store data.
   - Dictionaries store data in key-value pairs. its like a real dictionary: you look up a word (key) and get its meaning (value). Example {"name": "john","age": 25}.
5. Why might you use a set instesd of a list in python?
   - A set is useful when you dont want duplicates. For example, if you collect IDs from users, a set will automatically remove repeated ones.
6. What is a string in python, and how is it different from a list?
   - A string is a collection of characters like "hello". A list can hold different data types like [1,"hi",3.5]. Also, strings cannot be changed, but lists can.
7. How do tuples ensure data integrity in python?
   - Since tuples cant be changed, the data inside them stays safe. This makes them reliable for storing fixed things like coordinates (10, 20) or days of the week.
8. What is a hash table, and how does it relate to dictionaries in python?
   - A hash table is a way of storing data so it can be found quickly using a key. Dictionaries in python are built on hash tables, which is why looking up something ina dictionary is super fast.
9. Can lists contain different data types in python?
   - Yes, lists are flexible. you can have numbers, strings, booleans, or even another list all inside one list. Example: [1,"hi",True, [2,3]].
10. Explain why strings are immutable in python.
    - Strings are immutable because python wants them to be safe and efficient. If they could be changed, it might create confusion or errors, especially since strings are used so often in programs.
11. What advantages do dictionaries offer over lists for certain tasks?
    - With dictionaries, you dont need to remember the position of something-you just use the key. For example, to find a students age, students["Alice"] is easier than searching through a list.
12. Describe a scenario where using a tuple would be preferable overa list.
    - If you are storing something that should never change, like latitude and longitude os a city (28.5, 88.2), a tupel is better because it locks the data.
13. How do sets handle duplicates values in python?
    - Sets automatically remove duplicates. if you add the same number multiple times, it only appears once in the set.
14. How does the "in" keyword work differently for lists and dictionaries?
    - In lists, "in" checks if an item exists in the list.
      In dictionaries, "in" checks if a key exists, not the value.
15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you can't. Tuples are immutables, which means once created, they are locked. you'd have to make a new tuple if you want changes.
16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary means a dictionary inside another dictionary. For example:
    students = {
      "101":{"name": "alice", "age": 20},
      "102":{"name": "bob", "age": 22}}
17. Describe the time complexity of accessing elements in a dictionary.
    - It's usually O(1), meaning it takes constant time no matter how big the dictionary is. Thats why dictionaries are very fast.
18. In what situations are lists preferred over dictionaries?
    - Lists are better when the order matters or when you want duplicates. For example, storing the scores of players in the order they played.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries dont rely on positions, they rely on keys. that means you cant say "give me the first item"-you always access items by their key.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - With a list, you get data by index(like list[0]). with a dictionary, you get data by key (like dict["name"]).

In [1]:
# Write a code to create a string with your name and print it.

name = "Yukti"
print(name)

Yukti

In [2]:
# Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase.

word = "hello"
print(word.upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".

s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it.

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list[1,2,3,4].

numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# Write a code to remove the number 3 from the list[1,2,3,4,5]

numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# Write a code to access the second element in the list['a','b','c','d'].

letters = ['a','b','c','d']
print(letters[1])

b

In [10]:
# Write a code to reverse the list[10,20,30,40,50].

numbers = [10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# Write a code to create a tuple with the elements 100,200,300 and print it.

tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

colors = ('red','green','blue','yellow')
print(colors[-2])

blue

In [13]:
# Write a code to find the minimum numbers in the tuple (10,20,5,15).

numbers = (10,20,5,15)
print(min(numbers))

5

In [14]:
# Write a code to find the index of the element "cat" in the tuple('dog','cat','rabbit').

animals = ('dog','cat','rabbit')
print(animals.index('cat'))

1

In [15]:
# Write a code to create a tuple containing three different fruits nd check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [16]:
# Write a code to create a set with the elements 'a','b','c' and print it.

letters = {'a','b','c'}
print(letters)

{'a', 'c', 'b'}

In [17]:
# Write a code to clear all thr elements from the set {1,2,3,4,5}.

numbers = {1,2,3,4,5}
numbers.clear()
print(numbers)

set()

In [18]:
# Write a code to remove the element 4 from the set {1,2,3,4}.

numbers = {1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [19]:
# Write a code to find the union of two sets {1,2,3} and {3,4,5}.

set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [21]:
# Write a code to create a dictionary with thr keys "name","age", and "city", and print it.

person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [22]:
# Write a code to add a new key-value pair "country":"USA" to the dictionary {"name":"john","age":25}.

person = {"name": "john", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [23]:
# Write a code to access the value associated with the key "name" in the dictionary {"name":"alice","age":30}.

person = {"name": "alice", "age": 30}
print(person["name"])

alice

In [24]:
# Write a code to remove the key "age" from the dictionary {"name": "bob","age":22,"city":"new york"}.

person = {"name": "bob", "age": 22, "city": "new york"}
del person["age"]
print(person)

{'name': 'bob', 'city': 'new york'}

In [25]:
# Write a code to check if the key "city" exists in the dictionary {"name":"alice","city":"paris"}.

person = {"name": "alice", "city": "paris"}
print("city" in person)

True

In [26]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1,2,3]
tuple = (4,5,6)
dictionary = {"name": "Alice", "age": 25}

print(list)
print(tuple)
print(dictionary)

[1, 2, 3]
(4, 5, 6)
{'name': 'Alice', 'age': 25}

In [27]:
# Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order, and print the result (replaced).

import random
numbers = [random.randint(1,100) for i in range(5)]
numbers.sort()
print(numbers)

[36, 63, 83, 84, 92]

In [28]:
# Write a code to create a list with strings and print the element at the third index.

strings = ["apple", "banana", "cherry", "date", "elderberry"]
print(strings[3])

date

In [29]:
# Write a code to combine two dictionaries into one and print the result.

dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "country": "USA"}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [30]:
# Write a code to convert a list of strings onto a set.

strings = ["apple", "banana", "cherry", "date", "elderberry"]
set = set(strings)
print(set)

{'banana', 'cherry', 'date', 'elderberry', 'apple'}